<!doctype html>
<html>
  <head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Site Title -->
    <title><%= current_page.data.title || "Kurt Cunningham | Designer + Developer" %></title>

    <!-- Favicons -->
    <%= favicon_tag 'images/favicon.png' %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag :application %>

    <!-- Fonts -->
    <script src="https://use.typekit.net/dlq7jiq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Analytics -->
    <%= google_analytics_tag %>
  </head>
  <body class="<%= page_classes %>">
    <main role="main" class="page">
      <%= yield %>
    </main>
    <!-- Javascript -->
    <%= javascript_include_tag :application %>
  </body>
</html>
