---
title: Kurt Cunningham | Designer &amp; Developer
---
<section class="page-header" role="region">
  <div class="page-header--content">
    <div class="content--container">
      <h2 class="title top">kurt</h2>
      <h2 class="title">cunningham</h2>
      <h5 class="tag">Product Designer &bull; Developer
        <span class="tag-border"></span>
      </h5>
      <p class="description">UI Engineer. Frontend Fan. Product of The Great Hawkeye State. Follow me on <%= link_to 'Twitter', 'https://twitter.com/KurtCunningham' %> &amp; <%= link_to 'Dribbble', 'https://dribbble.com/cunninghamkurt' %>.</p>
    </div>
  </div>
</section>
<section role="region" aria-label="about-me" class="page-section">
  <div class="page-section--left">
    <h2 class="section-tag">01.</h2>
    <hr class="section-tag-border">
  </div>
  <div class="page-section--right">
    <h1 class="page-section--header">Motivated and adaptive innovative thinker with a strong background in user experience design and frontend web development. Lover of Sass, MVC frameworks and preformance budgets.</h1>
  </div>
</section>
<section role="region" aria-label="blog-posts" class="page-section">
  <div class="page-section--left">
    <h2 class="section-tag">02.</h2>
    <hr class="section-tag-border">
  </div>
  <div class="page-section--right">
    <header>
      <h6 class="uppercase">A few thoughts</h6>
      <h2 class="page-section--header">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</h2>
    </header>
    <ul class="post-list">
      <% blog.articles[0...3].each do |article| %>
        <li class="post">
          <time class="post-date"><%= pretty_date(article.date) %></time>
          <h4 class="post-title"><%= article.title %></h4>
          <p class="post-description"><%= Nokogiri::HTML(article.summary).text %></p>
          <%= link_to 'Read more', article %>
        </li>
      <% end %>
    </ul>
  </div>
</section>